<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="player.css" />
    <link
      href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap"></div>
      <footer id="footer">
        <div id="albumCover">
          <img src="albumCoverGeneric.png" alt="albumCoverGeneric" />
        </div>
        <div id="songInfo">
          <div id="artistAndAlbum">
            <p>Radiohead</p>
            <p>In Rainbows</p>
          </div>
          <div id="songTitle">
            <p>Weird Fishes</p>
          </div>
        </div>
        <div class="nextPrev" id="previousButton">
          <img src="PreviousButton.png" alt="nextPrevButton" />
        </div>
        <div id="playButton">
          <img src="playButton.png" alt="playButton" />
        </div>
        <div class="nextPrev" id="nextButton">
          <img src="nextButton.png" alt="nextPrevButton" />
        </div>
        <div id="lengthSong">
          <p>5:00 / 6:35</p>
        </div>
      </footer>
    </div>
  </body>
</html>
