body {
  font-family: "ABeeZee", sans-serif;
  background: black;
}

#page-container {
  position: relative;
  min-height: 98vh;
}

#content-wrap {
  padding-bottom: 4.5rem;
}

/* Definimos el footer con Grid */
#footer {
  display: grid;
  grid-template-columns: [albumCover]80px [songInfo]auto [previousButton]80px [playButton]80px [nextButton]80px [lengthSong]auto;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  justify-content: stretch;
  align-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background: rgb(19, 2, 31);
  background: linear-gradient(
    39deg,
    rgba(19, 2, 31, 1) 0%,
    rgba(38, 16, 34, 1) 5%,
    rgba(69, 39, 39, 1) 16%,
    rgba(77, 45, 40, 1) 42%,
    rgba(81, 48, 41, 1) 61%,
    rgba(114, 73, 47, 1) 100%
  );
}

#albumCover {
  place-self: center;
}

#albumCover img {
  height: 80px;
  width: auto;
  margin-top: 8px;
}

#songInfo {
  color: #d9dcf7;
  display: grid;
  grid-template-columns: [artistAndAlbum]0.5fr [songTitle]1fr;
  justify-items: start;
  column-gap: 5px;
}

#footer .nextPrev {
  place-self: center;
}

#footer .nextPrev img {
  height: 35px;
  width: auto;
}

#playButton img {
  height: 50px;
  width: auto;
}

#playButton {
  place-self: center;
}

#lengthSong {
  place-self: center;
  color: #d9dcf7;
}
