<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lotus | {% block title %}{% endblock title %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" href={% static 'music/img/favicon.ico'%} />
    <link rel="stylesheet" type="text/css" href={% static 'music/css/base.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'music/css/player.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'music/css/side_bar.css' %}>
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <div id="container">
      <div id="top">
        <div id="sideBar">
          {% include 'music/side_bar.html' %}
        </div>
        <div id="pageContent">
          {% block body_content %}
          {% endblock body_content %}
        </div>
      </div>
      <div class="bottom">
        {% include 'music/player.html' %}
      </div>
    </div>

    {% block js %}
      <script type="text/javascript" src={% static 'music/js/player.js' %}></script>
    {% endblock js %}
  </body>
</html>