<!-- Index -->
{% extends 'music/base.html' %}
<head>
  {% block title %}Welcome{% endblock title %} 
  {% load static %} 
  {% block css %}
  <link rel="stylesheet" type="text/css" href={% static 'music/css/index.css'%}> 
  {% endblock css %}
</head>
<body>
  {% block body_content %}
  <div id="index">
    <div id="title">
      <h1 class="gradient-text">Welcome to Lotus</h1>
    </div>
    <div id="link" class="lotus lotus-anim">
      
    </div>
  </div>
  {% endblock body_content %}
</body>
