<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="player.css" />
    <link
      href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div id="top"></div>
      <div id="player">
        <div id="canvasGrid">
          <canvas id="progress" width="500" height="100"></canvas>
        </div>
        <div id="elemsOfPlayer">
          <audio
            id="audio"
            ontimeupdate="updateBar()"
            src="https://vgmdownloads.com/soundtracks/silent-hill-2-original-soundtrack/oaeobvmy/01%20-%20Theme%20Of%20Laura.mp3"
          ></audio>
          <div id="albumCover">
            <img src="albumCoverGeneric.png" alt="albumCoverGeneric" />
          </div>
          <div id="songInfo">
            <div id="artistAndAlbum">
              <p>Radiohead</p>
              <p>In Rainbows</p>
            </div>
            <div id="songTitle">
              <p>Weird Fishes</p>
            </div>
          </div>
          <div class="controls">
            <div class="control" id="previousButton">
              <input
                type="image"
                src="previousButton.png"
                name="Play"
                id="audioControl"
                onclick="togglePlaying()"
              />
            </div>
            <div class="control" id="playButton">
              <input
                type="image"
                src="playButton.png"
                name="Play"
                id="audioControl"
                onclick="togglePlaying()"
              />
            </div>
            <div class="control" id="nextButton">
              <input
                type="image"
                src="nextButton.png"
                name="Play"
                id="audioControl"
                onclick="togglePlaying()"
              />
            </div>
          </div>
          <div id="time">
            <span id="current-time"></span>
            <span id="bar">/</span>
            <span id="duration"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="player.js"></script>
  </body>
</html>
