<!-- Top Songs -->
{% extends 'music/base.html' %}

{% load static %}
{% block title %}Canciones populares{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href={% static 'music/css/top_songs.css' %} />
{% endblock css %}


    {% block body_content %}
        <div id="main">
            <h1>Estas son las canciones populares:</h1>
            <ol>  
            {% for song in songs%}
                <li><a href="{{song.get_song_path}}">{{song}}</a></li>
            {% endfor%}
            </ol>
        </div>
    {% endblock body_content %}
