#top {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-column-gap: 10px;
}

#bottom {
  justify-self: center;
}

#sideBar {
  padding: 10px 10px 10px 10px;
  background: rgb(230, 160, 50);
  color: black;
}

#logo {
  justify-self: center;
}

#logo img {
  width: 120px;
}
